* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	overflow-x:hidden;
}

@font-face {
  font-family: hanson;
  src: url(hanson.ttf);
}

@font-face {
  font-family: inter;
  src: url(inter.ttf);
}

.gjs-heading {
	margin: 0;
	color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease 0s;
}

#irz7b {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	flex-wrap: nowrap;
}

#iycz3 {
	max-width: 1000px;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-self: auto;
	flex: 1 1 0%;
}

#irjua {
	font-size: 2rem;
	font-family: hanson;
	text-align: left;
	color: #ff0088;
	flex: 0 0 auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.text-main-content {
	line-height: 30px;
	font-size: 1.2rem;
}

#iau9 {
	background-image: linear-gradient(rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #000000;
	font-weight: 400;
	max-width: 100%;
	overflow-x: hidden;
	font-family: inter;
	src: url(inter.ttf);
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

#ilriti {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
}

#iv3be5 {
	justify-content: center;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#im0rle {
	flex-direction: column;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#it6g1v {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	opacity: 75%;
	color: #ff0088;
}

#ij7g8t {
	display: block;
	color: rgba(255, 255, 255, 0.38);
}

#ipjdtn {
	display: block;
	color: rgba(255, 255, 255, 0.38);
}

#i1hx7l {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
}

.gjs-text-blue {
	color: rgb(36, 99, 235);
}

.gjs-link:hover {
	color: rgb(36, 99, 235);
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#iojdf18 {
	align-self: auto;
	justify-content: center;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	flex: 0 1 auto;
}

#ido9jil {
	flex-direction: column-reverse;
	padding-top: 0px;
	height: 100vh;
}

#i2eex73 {
	align-items: stretch;
	flex: 0 0 auto;
}

.gallery {
	position: relative;
}

.gallery div {
	padding: 2px;
	width: 120px;
}

.gallery div img:nth-child(1) {
	width: 100px;
}

.gallery div img:nth-child(2) {
	position: absolute;
	top: 10px;
	left: 120px;
	z-index: 10;
	visibility: hidden;
}

.gallery div:hover img:nth-child(2) {
	visibility: visible;
}

.gjs-custom-code {
	padding: 5px;
}

#i5ylocv {
	padding: 1rem;
	grid-template-columns: repeat(10, 100vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll visible;
	height: 60vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
	padding-top: 0rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
	position: relative;
	backface-visibility: visible;
	display: flex;
	flex: 0 1 auto;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: row;
	transform-style: flat;
}

#ixr3ggf {
	color: black;
	flex: 0 1 auto;
	align-self: auto;
	scroll-snap-align: center;
	display: inline-block;
	font-size: 0px;
}

#il3xj97 {
	font-size: 2rem;
	font-family: hanson;
	text-align: left;
	color: #ff0088;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#ifss2ak {
	margin-bottom: 0px;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	flex: 1 1 0%;
	font-size: 1rem;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#itm2de9 {
	align-items: stretch;
	flex: 0 0 auto;
}

#ibs7245 {
	max-width: 1000px;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-self: auto;
	flex: 1 1 0%;
}

#contact {
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#ipd3ewf {
	position: absolute;
	z-index: 1;
	display: flex;
	width: 100%;
}

#iylsb9m {
	flex: 1 1 0%;
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
	flex-direction: row;
	align-self: auto;
	align-content: stretch;
	gap: 0px;
	align-items: flex-start;
	border-top-color: #ff0088;
	border-right-color: #ff0088;
	border-bottom-color: #ff0088;
	border-left-color: #ff0088;
	padding-bottom: 0px;
}

#itvwxgc {
	color: #ff0088;
	padding: 10px;
	position: static;
	z-index: 4;
	text-align: left;
	flex: 0 0 15%;
	align-self: auto;
	transition: color 0.3s ease-out 0s;
	font-family: hanson;
}

#i6jwd1g {
	color: #ff0088;
	padding: 10px;
	position: static;
	z-index: 4;
	text-align: center;
	flex: 0 0 15%;
	align-self: auto;
	transition: color 0.3s ease-out 0s;
	font-family: hanson;
}

#iws8e7g {
	color: #ff0088;
	padding: 10px;
	position: static;
	z-index: 4;
	text-align: right;
	flex: 0 0 15%;
	align-self: auto;
	font-family: hanson;
}

#i5u1yn1 {
	position: absolute;
	z-index: 2;
	color: #ff0088;
	font-weight: 600;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 38px;
	pointer-events: none;
	align-self: auto;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	flex-direction: row;
	display: flex;
	font-family: hanson;
}

#itvwxgc:hover {
	color: rgba(255, 255, 255, 1);
}

#iqa99wk {
	height: 60vh;
}

#iskhv5b {
	color: #ff0088;
	padding: 10px;
	position: static;
	z-index: 4;
	font-weight: 600;
	text-align: left;
	flex: 0 1 15%;
	font-family: hanson;
}

#iu7t49g {
	color: #ff0088;
	padding: 10px;
	position: static;
	z-index: 4;
	font-weight: 600;
	text-align: center;
	flex: 0 1 15%;
	font-family: hanson;
}

#ii95xsn {
	color: #ff0088;
	padding: 10px;
	position: static;
	z-index: 4;
	font-weight: 600;
	text-align: right;
	flex: 0 1 15%;
	font-family: hanson;
}

#ihtlmkl {
	flex: 1 1 0%;
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
	flex-direction: row;
	align-self: auto;
	align-content: stretch;
	gap: 0px;
}

#it6e8oi {
	position: absolute;
	z-index: 1;
	display: flex;
	width: 100%;
	bottom: 0px;
	justify-content: flex-start;
}

#iictqcs {
	font-size: 2rem;
	font-family: hanson;
	text-align: left;
	color: #ff0088;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#in6rhn5 {
	align-items: stretch;
	flex: 0 0 auto;
	display: none;
}

#iwc8iaa {
	max-width: 1000px;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-self: auto;
	flex: 1 1 0%;
}

#media {
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#i119kqr {
	font-size: 2rem;
	font-family: hanson;
	text-align: left;
	color: #ff0088;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#iokogzm {
	margin-bottom: 0px;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	flex: 1 1 0%;
	font-size: 1rem;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#ij6gmpu {
	align-items: stretch;
	flex: 0 0 auto;
	flex-wrap: nowrap;
	padding-bottom: 0px;
}

#ihty92a {
	max-width: 1000px;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-self: auto;
	flex: 1 1 0%;
}

#live {
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#ihctlz3 {
	color: black;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex-wrap: nowrap;
	align-self: auto;
	max-height: 106%;
	display: flex;
	flex: 0 0 auto;
}

#i6jwd1g:hover {
	color: rgba(255, 255, 255, 1);
}

#iws8e7g:hover {
	color: rgba(255, 255, 255, 1);
}

#iskhv5b:hover {
	color: rgba(255, 255, 255, 1);
}

#iu7t49g:hover {
	color: rgba(255, 255, 255, 1);
}

#ii95xsn:hover {
	color: rgba(255, 255, 255, 1);
}

#iyvsc47 {
	padding-top: 0px;
}

#ia2cxhl {
	display: flex;
	backface-visibility: visible;
	justify-content: flex-start;
	flex: 0 0 auto;
	align-content: flex-start;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#ihctlz3:hover {
	filter: unset;
}

#ils2al {
	color: rgba(255, 255, 255, 1);
	text-decoration-line: underline;
}

#ixeeux {
	color: rgba(255, 255, 255, 1);
}

.gjs-divider {
	height: 3px;
	width: 100%;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.05);
}

#divider {
	background-color: #ff0088;
	height: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

#inbzqf {
	background-color: #ff0088;
	height: 2px;
	width: 100%;
	margin-left: 10px;
	margin-right: -18px;
	display: none;
}

#ixvh2h {
	background-color: #ff0088;
	height: 2px;
	width: 100%;
	margin-left: 10px;
	margin-right: -18px;
	display: none;
}

#iu7jeb {
	background-color: #ff0088;
	height: 2px;
	width: 100%;
	margin-left: 10px;
	margin-right: -18px;
}

#i68roh {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}

#igw3bh {
	background-color: black;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#iepmom {
	color: rgba(255, 255, 255, 1);
	flex: 1 1 0%;
	font-size: 1rem;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#i7m1s5 {
	display: none;
}

#ieiujl {
	padding-left: 10px;
	padding-right: 10px;
}

#i7l7fcz {
	flex: 1 1 0%;
}

#iciaxw {
	margin-bottom: 0px;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	flex: 1 1 0%;
	font-size: 1rem;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#i8vvlh {
	flex: 1 1 0%;
}

#izv6kd {
	color: white;
}

#i7biu0n {
	color: black;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex-wrap: nowrap;
	align-self: auto;
	max-height: 106%;
	display: none;
	flex: 0 0 auto;
}

#i7biu0n:hover {
	filter: unset;
}

#i3yrkm1 {
	background-color: #ff0088;
	height: 2px;
	width: 100%;
	margin-left: 10px;
	margin-right: -18px;
	display: none;
}

#islsgh7 {
	margin-bottom: 0px;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	flex: 1 1 0%;
	font-size: 1rem;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#ifqcq9w {
	flex: 1 1 0%;
}

#i0f752v {
	color: white;
}

#inevx8b {
	margin-bottom: 0px;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	flex: 1 1 0%;
	font-size: 1rem;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#isk35qx {
	flex: 1 1 0%;
}

#ibso7uf {
	align-items: stretch;
	flex: 0 0 auto;
	flex-wrap: nowrap;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#i5p930h {
	color: black;
	flex: 0 1 auto;
	align-self: auto;
	scroll-snap-align: center;
	display: inline-block;
	font-size: 0px;
}

#id65aaj {
	color: black;
	flex: 0 1 auto;
	align-self: auto;
	scroll-snap-align: center;
	display: inline-block;
	font-size: 0px;
}

#ing5t4q {
	color: black;
	flex: 0 1 auto;
	align-self: auto;
	scroll-snap-align: center;
	display: inline-block;
	font-size: 0px;
}

#i20eyzk {
	color: black;
	flex: 0 1 auto;
	align-self: auto;
	scroll-snap-align: center;
	display: inline-block;
	font-size: 0px;
}

#i558wbj {
	color: black;
	flex: 0 1 auto;
	align-self: auto;
	scroll-snap-align: center;
	display: inline-block;
	font-size: 0px;
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	#ihctlz3 {
		justify-content: flex-end;
	}

	#iojdf18 {
		align-items: center;
		height: 100%;
		flex-direction: column;
		justify-content: center;
	}

	#i7biu0n {
		justify-content: flex-end;
	}
}

@media (max-width:844px) {
	#iqa99wk {
		height: 34vh;
	}

	#i5ylocv {
		height: 34vh;
	}
}

@media only screen and (max-width: 1048px) {

	#i5u1yn1 {
		font-size: 3rem;
	}
		
	#ihctlz3 {
		min-height: 0px;
		display: none;
	}

	#iskhv5b {
		font-size: 2rem;
	}

	#iu7t49g {
		font-size: 2rem;
	}

	#ii95xsn {
		font-size: 2rem;
	}

	#itvwxgc {
		font-size: 2rem;
	}

	#i6jwd1g {
		font-size: 2rem;
	}

	#iws8e7g {
		font-size: 2rem;
	}

	#ij7g8t {
		font-size: 1.5rem;
	}

	#ipjdtn {
		font-size: 1.5rem;
	}

	#it6g1v {
		font-size: 1.5rem;
	}

	#iqa99wk {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		width: 85vw;
		height: 24vh;
	}

	#i5ylocv {
		height: 48vh;
	}

	#i7biu0n {
		min-height: 0px;
		display: flex;
	}
}
